.Sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    width: auto;
}
.Sidebar img {
    width: 20px;
}
.Sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.Sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: rgb(96, 91, 91);
    cursor: pointer;
}
.Sidebar .recent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.Sidebar .recent-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.Sidebar .recent-entry:hover {
    background-color: #e6eaf1;
}
.Sidebar .bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}